/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Proxima Nova", Calibri, sans-serif !default;

// colors from https://brand.arizona.edu/applying-the-brand/colors
$body-bg: #1E5288 !default; //"azurite"
$body-color: white !default;
$link-color: #EF4056 !default; //"bloom"
$code-block-bg: #F4EDE5 !default; //"warm gray"

/*-- scss:rules --*/

